body, html {
    margin: 0;
    padding: 0;
}

#container{
    width: 100%;
    text-align: center;
    position: relative;
}

#game{
    z-index: 0;
}

#rock{
    position: absolute;
    z-index: 1;
    left: 35%;
}