body, html {
    margin: 0;
    padding: 0;
}

#main{
 position: relative;
 width: 100%;
 height: 100%;
}

#container{
    width: 100%;
    height: 100vh;
    text-align: center;
    position: relative;
    background-image: url('bkgnd.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    z-index: 1;
}

#cover{
    position: absolute;
    width: 100%;
    height: 100vh;
    text-align: center;
    top: 0;
    left: 0;
    display: block;
    z-index: 2;
    transition: opacity 4s ease;
}

#cover img{
    position: relative;
    width: 100%;
    height: 100%;
}

#container > img{
    position: absolute;
    top: 50%;
    left: 0;
    width: 25%;
}

#manual{
    position: absolute;
    top: 0;
    right: 45px;
    width: 20%;
}

#startButton{
    position: absolute;
    background-color: rgba(255, 50, 50, 0.5);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    border-radius: 10px;
    bottom: 75px;
    margin-left: 22%;
    padding: 20px;
    font-size: 50px;
    animation: botonStart 1s infinite;
    transition: all 1s ease-out;
    z-index: 2;
}

.controles{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    margin-left: -80px;
}

.controles img{
    position: relative;
    width: 250px;
    margin-bottom: -50px;
}

.teclas{
    display: block;
    text-align: center;
}

h2, p{
    margin: 0;
}

.teclas p{
    font-weight: bold;
}

@keyframes botonStart{
    0%{
        background-color: rgba(255, 50, 50, 0.5);
        bottom: 75px;
    
    }

    50%{
        background-color: rgba(213, 235, 14, 0.5);
        bottom: 85px;
      
    }

    100%{
        background-color: rgba(255, 50, 50, 0.5);
        bottom: 75px;
        
    }
}